node_modules/
dist/
.env
.env.production
.env.local
.env.*.local
firebase-debug.log
firestore-debug.log
ui-debug.log
*.local
functions/lib/
functions/node_modules/
.DS_Store
.vercel
SIA_Radar/
.firebase/
__pycache__/
backend/__pycache__/
